*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  font-family: lato, sans-serif;
  line-height: 1.7;
  font-weight: 400;
}

.section-intro{
  padding: 8rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(31, 30, 30, 0.9)), url(image/img-1.jpg);
  color: #f7f7f7;
  background-size: cover;
  display: flex;
}

.intro__content{
  width: 50%;
  margin: 20px;
  overflow: hidden;
  
}

.intro__heading-primary{
  font-size: 400%;
  font-weight: 300;
}

.intro__name{
  font-family: Kaushan Script, sans-serif ;
}

.intro__image-box{
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  
  
  overflow: hidden;
}

.intro__image{
 width:  100%;

}